<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles2.css">
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<header>
			<div class="container">
										<div class="flex-container">
						<p class="navbutton"><a href="/">Back to HomePage</a></p>
						<p class="navbutton"><a href="/uploads">Tailgating Experiences</a></p>
		</div>
	</header>
	<main>
					<div class="container-4">
						 <div class="t-adventures">
				<h1><%=upload.title%></h1>
			</div>

		<div class="box-5">

				<img class="showimage" src = "<%=upload.url;%>"  style="width:600px; height:400px;"> <br>
			</div>
				<div class="t-adventures">
				<p><%=upload.description%></p>
			</div>
		</div>
	</div>
			<div class="container">
				<div class="flex-container">



    <form action="/uploads/<%=upload._id%>?_method=DELETE" method="post">
        <input type="submit" class="navbutton2" value="Delete Upload"/>
    </form>

<a class="navbutton2" href="/uploads/<%=upload._id%>/edit">Edit</a>
</div>
    </form>
	</div>

		</main>
	</body>
</html>
