<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet"  href="/styles.css">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=upload.title%></h1>
			<small>by: <a href="/user/<%=user._id%>"><%=user.name%></a></small>
			<nav>
				<ul>
					<li>
						<a href="/">Back to HomePage</a>
					</li>
					<li>
						<a href="/uploads">Tailgating Expereinces</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h1><%=upload.body%></h1>
      </section>
			<section>
				<img src = "<%=upload.url;%>" width:><br>
			</section>
			<section>
				<p><%=upload.description%></p>

	<section>
    <form action="/uploads/<%=upload._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete Upload"/>
    </form>
</section>
<section>
<a href="/uploads/<%=upload._id%>/edit">Edit</a>
</section>
<form method="post" action="https://poll.pollcode.com/89766194"><div style="background-color:#00B9BB;padding:2px;width:196px;font-family:Palatino Linotype;font-size:medium;color:#F2FFFE;box-shadow: 0px 0px 5px #888;"><div style="padding:2px 0px 4px 2px;"><strong>What is your favorite tailgating drink?</strong></div><input type="radio" name="answer" value="1" id="answer897661941" style="float:left;" /><label for="answer897661941" style="float:left;width:171px;">Beer</label><div style="clear:both;height:2px;"></div><input type="radio" name="answer" value="2" id="answer897661942" style="float:left;" /><label for="answer897661942" style="float:left;width:171px;">Water</label><div style="clear:both;height:2px;"></div><input type="radio" name="answer" value="3" id="answer897661943" style="float:left;" /><label for="answer897661943" style="float:left;width:171px;">Diet Coke</label><div style="clear:both;height:2px;"></div><input type="radio" name="answer" value="4" id="answer897661944" style="float:left;" /><label for="answer897661944" style="float:left;width:171px;">Wine</label><div style="clear:both;height:2px;"></div><input type="radio" name="answer" value="5" id="answer897661945" style="float:left;" /><label for="answer897661945" style="float:left;width:171px;">Red Bull</label><div style="clear:both;height:2px;"></div><div align="center" style="padding:3px;"><input type="submit" value=" Vote ">&nbsp;<input type="submit" name="view" value=" View "></div><div align="right" style="font-size:10px">pollcode.com <a href="https://pollcode.com/">free polls</a></div></div></form>
		</main>
	</body>
</html>
