<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles2.css">
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header-1">
			<h1>Tailgating Page for <%=user.name%></h1>
				</div>
	<div class="flex-container">
						<p class="navbutton"><a href="/home">Back to Homepage</a></p>
						<p class="navbutton"><a href="/user">Tailgaters</a></p>
					</div>
		</div>
		</header>
		<main>
			<div class="container-2">

				<h2>About<br><%=user.name%></h2><br>
					<div clas="box-5">
					<img src = "<%=user.url;%>" style="width:100px; height:100px;"><br>
					<li>Name: <%=user.name%></li></br>
					<li>School: <%=user.school%></li>
       </div>
		 </div>
		 <div class="container-4">
     <div class="t-adventures">
    <h2><%=user.name%>'s Tailgating Adventures:</h2>
	</div>
		 <div class="box-7">

			<% for(let i = 0; i < user.uploads.length; i++){ %>
				  <div class="event"><img src = "<%=user.uploads[i].url%>" style="width:125px; height:100px;"></br>
					<a href="/uploads/<%=user.uploads[i]._id%>"><%=user.uploads[i].title%></a>
					</div>
			<% } %>
		</div>
  </div>
	<div class="container">
		<%# <div class="header-1">%>
				<div class="flex-container">
				<p class="navbutton"><a href="/uploads/new">Publish a new Tailgating Experience</a></p>
    <p class="navbutton"><a href="/user/<%=user._id%>/edit">Edit User Info</a></p>
		<br>
<%# <div class="new_t_button">%>
    <form action="/user/<%=user._id%>?_method=DELETE" method="post">
        <input type="submit" class="navbutton" role="presentation" value="Delete User"/>
					<%# </div>%>
				</div>

    </form>
	<%# </div>%>
</div>

		</main>
	</body>
</html>
