<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet"  href="/styles.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Tailgating Page for <%=user.name%></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Back to Homepage</a>
					</li>
					<li>
						<a href="/user">Tailgaters</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2><%=user.name%>'s Tailgater Qualities:</h2>
				<ul>
					<img src = "<%=user.url;%>" style="width:75px; height:75px;"><br>
					<li>Name: <%=user.name%></li></br>
					<li>School: <%=user.school%></li>

				</ul>
			</section>
			<section>
    <h2><%=user.name%>'s Tailgating Adventures:</h2>
		<ul>
			<% for(let i = 0; i < user.uploads.length; i++){ %>
				  <img src = "<%=user.uploads[i].url%>" style="width:125px; height:100px;"></br>
					<li><a href="/uploads/<%=user.uploads[i]._id%>"><%=user.uploads[i].title%></a></li>
			<% } %>
	</ul>
</section>
<div class="footerbuttons">
<section>
      <li>
				<a href="/uploads/new">Publish a new Tailgating Experience</a>
      </li>
			<section>
    <a id="edit_button" href="/user/<%=user._id%>/edit">Edit User Info</a>
     </section>
      <section>
    <form action="/user/<%=user._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete User"/>
    </form>
</section>
</div>

		</main>
	</body>
</html>
